version: "3.8"

services:
  n8n:
    image: n8nio/n8n
    container_name: n8n
    ports:
      - "5678:5678"
    environment:
      - GENERIC_TIMEZONE=Asia/Ho_Chi_Minh
      - N8N_BASIC_AUTH_ACTIVE=true
      - N8N_BASIC_AUTH_USER=admin
      - N8N_BASIC_AUTH_PASSWORD=123456
      # Điền domain tĩnh bạn vừa tạo trên web vào đây
      - WEBHOOK_URL=https://unmetered-baser-johnson.ngrok-free.dev 
    volumes:
      - ./n8n_data:/home/node/.n8n
    restart: always